/** @format */

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
}

h1 {
  color: darkslategray;
}

footer {
  color: darkslategray;
}

#todolist {
  text-align: center;
}

.intro {
  padding-bottom: 15px;
}

footer {
  margin-top: 30rem;
  background-color: darkslategray;
  padding: 80px;
  border-top: 1px solid black;
}

#footinfo {
  color: whitesmoke;
  background-color: darkslategray;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart {
  background-color: brown;
}
